SELECT
	[NUMBER],
	[ASSIGNED_TO],
	[REQUESTED_FOR],
	[SUBMIT_DATE],
	DATENAME(DW,[SUBMIT_DATE]) [SUBMIT_DAYS],
	DATEDIFF(DAY,[SUBMIT_DATE] - CAST('04:30' AS DATETIME), GETDATE()) [DAYS],
	CONVERT(VARCHAR(10), ((DATEDIFF(MS, [SUBMIT_DATE] - CAST('04:30' AS DATETIME), GETDATE())%86400000)/3600000)) + ':'+ -- HOURS
	CONVERT(VARCHAR(10), (((DATEDIFF(MS, [SUBMIT_DATE] - CAST('04:30' AS DATETIME), GETDATE())%86400000)%3600000)/60000)) + ':'+ -- MINUTES
	CONVERT(VARCHAR(10), ((((DATEDIFF(MS, [SUBMIT_DATE] - CAST('04:30' AS DATETIME), GETDATE())%86400000)%3600000)%60000)/1000)) -- SECONDS
	[TIME],
	[DESCRIPTION]
FROM [SMBODSA2].[dbo].[OCMQM1]
WHERE [ASSIGNED_DEPT] = 'ADM BASES DE DATOS DISTRIBUIDA'
AND [CURRENT_PHASE] <> 'CIERRE'
AND [OPEN] = 'T'
ORDER BY [SUBMIT_DATE];