SELECT
	[NUMBER],
	[OPEN_TIME],
	DATENAME(DW,[OPEN_TIME]) [SUBMIT_DAYS],
	DATEDIFF(DAY,[OPEN_TIME] - CAST('04:30' AS DATETIME), GETDATE()) [DAYS],
	CONVERT(VARCHAR(10), ((DATEDIFF(MS, [OPEN_TIME] - CAST('04:30' AS DATETIME), GETDATE())%86400000)/3600000)) + ':'+ -- HOURS
	CONVERT(VARCHAR(10), (((DATEDIFF(MS, [OPEN_TIME] - CAST('04:30' AS DATETIME), GETDATE())%86400000)%3600000)/60000)) + ':'+ -- MINUTES
	CONVERT(VARCHAR(10), ((((DATEDIFF(MS, [OPEN_TIME] - CAST('04:30' AS DATETIME), GETDATE())%86400000)%3600000)%60000)/1000)) -- SECONDS
	[TIME],
	[ACTION],
	[ASSIGNEE_NAME],
	[BRIEF_DESCRIPTION]
FROM [SMBODSA2].[dbo].[PROBSUMMARYM1]
WHERE [ASSIGNMENT] = 'ADM BASES DE DATOS DISTRIBUIDA'
AND [STATUS] <> 'CLOSED'
ORDER BY [OPEN_TIME];